# dependencias
node_modules

# build artifacts (Archivos generados por el build)
dist
dist-ssr
*.local
/coverage

# Archivos de Entorno/Configuración (CRUCIALES para seguridad)
.env
.env.local
.env.*.local

# Vercel (Cache y configuración local)
.vercel

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json  # Mantener esta excepción si quieres compartir extensiones recomendadas
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
